GEMINI_API_KEYS=
# Exemplo:
# GEMINI_API_KEYS=key1,key2,key3
GEMINI_IMAGE_MODEL=gemini-2.5-flash
GEMINI_AUDIO_MODEL=gemini-2.5-flash
GEMINI_VIDEO_MODEL=gemini-2.5-flash
GEMINI_BOT_MODEL=gemini-2.5-flash
GEMINI_SOURCE_MODEL=gemini-2.5-flash
IMAGE_DAILY_LIMIT=100
AUDIO_DAILY_LIMIT=60
VIDEO_DAILY_LIMIT=40
BOT_DAILY_LIMIT=80
SOURCE_DAILY_LIMIT=50
